<a href="https://colab.research.google.com/github/GeremiccaAndrea/Pandas_Ordinato/blob/main/Pandas3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
df = pd.read_json('/content/drive/MyDrive/Colab Notebooks/Pandas/winemag-data-130k-v2.json')
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,points,title,description,taster_name,taster_twitter_handle,price,designation,variety,region_1,region_2,province,country,winery
0,87,Nicosia 2013 Vulkà Bianco (Etna),"Aromas include tropical fruit, broom, brimston...",Kerin O’Keefe,@kerinokeefe,NaN,Vulkà Bianco,White Blend,Etna,None,Sicily & Sardinia,Italy,Nicosia
1,87,Quinta dos Avidagos 2011 Avidagos Red (Douro),"This is ripe and fruity, a wine that is smooth...",Roger Voss,@vossroger,15.0,Avidagos,Portuguese Red,None,None,Douro,Portugal,Quinta dos Avidagos
2,87,Rainstorm 2013 Pinot Gris (Willamette Valley),"Tart and snappy, the flavors of lime flesh and...",Paul Gregutt,@paulgwine,14.0,None,Pinot Gris,Willamette Valley,Willamette Valley,Oregon,US,Rainstorm
3,87,St. Julian 2013 Reserve Late Harvest Riesling ...,"Pineapple rind, lemon pith and orange blossom ...",Alexander Peartree,None,13.0,Reserve Late Harvest,Riesling,Lake Michigan Shore,None,Michigan,US,St. Julian
4,87,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,"Much like the regular bottling from 2012, this...",Paul Gregutt,@paulgwine,65.0,Vintner's Reserve Wild Child Block,Pinot Noir,Willamette Valley,Willamette Valley,Oregon,US,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,90,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Notes of honeysuckle and cantaloupe sweeten th...,Anna Lee C. Iijima,None,28.0,Brauneberger Juffer-Sonnenuhr Spätlese,Riesling,None,None,Mosel,Germany,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,90,Citation 2004 Pinot Noir (Oregon),Citation is given as much as a decade of bottl...,Paul Gregutt,@paulgwine,75.0,None,Pinot Noir,Oregon,Oregon Other,Oregon,US,Citation
129968,90,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Well-drained gravel soil gives this wine its c...,Roger Voss,@vossroger,30.0,Kritt,Gewürztraminer,Alsace,None,Alsace,France,Domaine Gresser
129969,90,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),"A dry style of Pinot Gris, this is crisp with ...",Roger Voss,@vossroger,32.0,None,Pinot Gris,Alsace,None,Alsace,France,Domaine Marcel Deiss
129970,90,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,"Big, rich and off-dry, this is powered by inte...",Roger Voss,@vossroger,21.0,Lieu-dit Harth Cuvée Caroline,Gewürztraminer,Alsace,None,Alsace,France,Domaine Schoffit

contare il numero di vini italiani presenti nel datafrane

In [11]:
df[df["country"] == "Italy"]["country"].count()

19540

visualizzare i vini di cui non si conosce il prezzo

In [12]:
df[df.price.isnull()][["title"]]

                                                    title
0                       Nicosia 2013 Vulkà Bianco  (Etna)
13                 Masseria Setteporte 2012 Rosso  (Etna)
30      Domaine de la Madone 2012 Nouveau  (Beaujolais...
31      Duca di Salaparuta 2010 Calanìca Nero d'Avola-...
32      Duca di Salaparuta 2011 Calanìca Grillo-Viogni...
...                                                   ...
129844  Caparzo 2006 Doga delle Clavule  (Morellino di...
129860  Quinta da Pacheca 2013 Pacheca Superior Red (D...
129863                    Seacampo 2011 Reserva Red (Dão)
129893   Le Mandolare 2015 Corte Menini  (Soave Classico)
129964  Domaine Ehrhart 2013 Domaine Saint-Rémy Herren...

[8996 rows x 1 columns]

visualizzare i vini che hanno le parole 'tropical fruit' nella descrizione

In [13]:
df[df["description"].str.contains("tropical fruit")][["title"]]

                                                    title
0                       Nicosia 2013 Vulkà Bianco  (Etna)
34           Envolve 2011 Sauvignon Blanc (Sonoma Valley)
43         Robert Hall 2011 Sauvignon Blanc (Paso Robles)
139     Kuentz-Bas 2007 Cuvée Jerémy Sélection de Grai...
151     Herdade Grande 2014 Gerações Colheita Seleccio...
...                                                   ...
129732                 Abeja 2015 Chardonnay (Washington)
129779     Chalk Hill 2010 Estate Chardonnay (Chalk Hill)
129783         Lone Birch 2011 Pinot Gris (Yakima Valley)
129916  Winkler-Hermaden 2006 Grauburgunder Reserve Gr...
129922  Sattlerhof 2006 Kranachberg Sauvignon Blanc (S...

[2291 rows x 1 columns]

# Es2

In [14]:
movies = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')
movies

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

trovare i film che cominciano con la t

In [15]:
movies[movies["Film"].str.startswith("T")]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
10,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,$55.86,2007
11,Twilight: Breaking Dawn,Romance,Independent,68,6.383364,26,$702.17,2011
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008
13,The Ugly Truth,Comedy,Independent,68,5.402632,14,$205.30,2009
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
15,The Time Traveler's Wife,Drama,Paramount,65,2.598205,38,$101.33,2009
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
19,The Duchess,Drama,Paramount,68,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010

trovare i film che finiscono in on

In [16]:
movies[movies["Film"].str.endswith("on")]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008

visualizzare i titoli dei film in ordine alfabetico

In [17]:
movies.sort_values(by=['Film'])

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
...,...,...,...,...,...,...,...,...
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008

visualizzare i titoli dei film da z-a

In [18]:
movies.sort_values(by=["Film"], ascending = False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009